export default [
  {
    fullUrl: `${process.env.NEXT_PUBLIC_FHIR_SERVER_BASE_URL}/Patient/test202020`,
    resource: {
      resourceType: "Patient",
      id: "test202020",
      meta: {
        versionId: "2",
        lastUpdated: "2020-01-23T09:24:04.093+00:00",
        source: "#81UJ29kVUxqhieAG",
      },
      text: {
        status: "generated",
        div: '<div xmlns="http://www.w3.org/1999/xhtml">\n\t\t\t<p>ID: test0122</p>\n\t\t\t<p>Name: Hanako Yamada</p>\n\t\t\t<p>Telephone: 06-1234-5678</p>\n\t\t\t<p>Gender: female</p>\n\t\t\t<p>BirthDate: 1981-01-23</p>\n\t\t</div>',
      },
      identifier: [
        {
          system: "urn:ietf:rfc:3986",
          value: "mailto:you@server.com",
        },
      ],
      name: [
        {
          family: "Yamamoto",
          given: ["Hanakooo"],
        },
      ],
      telecom: [
        {
          system: "phone",
          value: "07-1234-5678",
        },
      ],
      gender: "female",
      birthDate: "1999-01-15",
    },
    search: {
      mode: "match",
    },
  },
  {
    fullUrl: `${process.env.NEXT_PUBLIC_FHIR_SERVER_BASE_URL}/Patient/592075`,
    resource: {
      resourceType: "Patient",
      id: "592075",
      meta: {
        versionId: "3",
        lastUpdated: "2020-01-23T09:25:42.536+00:00",
        source: "#R4VetK3Prp7xc9yS",
      },
      text: {
        status: "generated",
        div: '<div xmlns="http://www.w3.org/1999/xhtml">\n\t\t\t<p>ID: test0122</p>\n\t\t\t<p>Name: Hanako Yamada</p>\n\t\t\t<p>Telephone: 06-1234-5678</p>\n\t\t\t<p>Gender: female</p>\n\t\t\t<p>BirthDate: 1981-01-23</p>\n\t\t</div>',
      },
      identifier: [
        {
          system: "urn:ietf:rfc:3986",
          value: "mailto:you@server2.com",
        },
      ],
      name: [
        {
          family: "Yamamoto",
          given: ["Hanakoooo"],
        },
      ],
      telecom: [
        {
          system: "phone",
          value: "07-1234-5678",
        },
      ],
      gender: "male",
      birthDate: "1989-01-15",
    },
    search: {
      mode: "match",
    },
  },
  {
    fullUrl: `${process.env.NEXT_PUBLIC_FHIR_SERVER_BASE_URL}/Patient/113798`,
    resource: {
      resourceType: "Patient",
      id: "113798",
      meta: {
        versionId: "4",
        lastUpdated: "2023-05-26T15:27:45.546+00:00",
        source: "#eEVorK925S7W4fgP",
      },
      text: {
        status: "generated",
        div: '<div xmlns="http://www.w3.org/1999/xhtml"> <div class="hapiHeaderText">Mrs Katerina <b>NGUYEN </b> </div> <table class="hapiPropertyTable"> <tbody> <tr> <td>Identifier</td> <td>49476534</td> </tr> <tr> <td>Address</td> <td> <span>Unit 7 </span> <br/> <span>76 Clydesdale St </span> <br/> <span>Como </span> <span>WA </span> <span>Australia </span> </td> </tr> <tr> <td>Date of birth</td> <td> <span>18 August 1979</span> </td> </tr> </tbody> </table> </div>',
      },
      identifier: [
        {
          system: "urn:ietf:rfc:3986",
          value: "mailto:frederickhong.5@gmail.com",
        },
      ],
      active: true,
      name: [
        {
          use: "usual",
          family: "Hong",
          given: ["Qixuan"],
        },
      ],
      telecom: [
        {
          system: "phone",
          value: "0403 823 832",
          use: "mobile",
          rank: 1,
        },
        {
          system: "phone",
          value: "08 9398 1165",
          use: "home",
          rank: 2,
        },
        {
          system: "phone",
          value: "08 9876 5432",
          use: "work",
          rank: 3,
        },
        {
          system: "email",
          value: "frederickhong.5@gmail.com",
          use: "work",
          rank: 4,
        },
      ],
      gender: "female",
      birthDate: "1979-08-19",
      deceasedBoolean: false,
      address: [
        {
          use: "home",
          line: ["Unit 7", "76 Clydesdale St"],
          city: "Como",
          state: "WA",
          postalCode: "6152",
          country: "Australia",
        },
      ],
      contact: [
        {
          relationship: [
            {
              coding: [
                {
                  system:
                    "http://hl7.org/fhir/ValueSet/patient-contact-relationship",
                  code: "partner",
                  display: "Partner",
                },
              ],
            },
          ],
          name: {
            use: "usual",
            family: "Hong",
            given: ["Lucy"],
            prefix: ["Mrs"],
          },
          telecom: [
            {
              system: "phone",
              value: "0403 123 456",
              use: "mobile",
              rank: 1,
            },
            {
              system: "phone",
              value: "08 4564 3214",
              use: "home",
              rank: 2,
            },
            {
              system: "phone",
              value: "08 9994 5547",
              use: "work",
              rank: 3,
            },
            {
              system: "email",
              value: "lucy.nguyen79@work.com",
              use: "work",
              rank: 4,
            },
          ],
          address: {
            use: "home",
            line: ["Unit 7", "76 Clydesdale St"],
            city: "Como",
            state: "WA",
            postalCode: "6152",
            country: "Australia",
          },
          gender: "female",
        },
      ],
    },
    search: {
      mode: "match",
    },
  },
];
