export default [
  {
    fullUrl: `${process.env.NEXT_PUBLIC_FHIR_SERVER_BASE_URL}/Questionnaire/59525`,
    resource: {
      resourceType: "Questionnaire",
      id: "59525",
      meta: {
        versionId: "1",
        lastUpdated: "2019-11-12T13:42:04.292+00:00",
        source: "#VwT6diAf0ctxW1RS",
      },
      text: {
        status: "generated",
        div: '<div xmlns="http://www.w3.org/1999/xhtml">\n      \t <pre> Lifelines Questionnaire 1 part 1\n  1. Do you have allergies?\n  2. General Questions:\n    2.a) What is your gender?\n    2.b) What is your date of birth?\n    2.c) What is your country of birth?\n    2.d) What is your marital status?\n    3. Intoxications:\n      3.a) Do you smoke?\n      3.b) Do you drink alcohol?</pre> \n    </div>',
      },
      url: "http://hl7.org/fhir/Questionnaire/0815",
      status: "active",
      subjectType: ["Patient"],
      date: "2010",
      code: [
        {
          system: "http://example.org/system/code/lifelines/nl",
          code: "VL 1-1, 18-65_1.2.2",
          display: "Lifelines Questionnaire 1 part 1",
        },
      ],
      item: [
        {
          linkId: "1",
          text: "Do you have allergies?",
          type: "boolean",
        },
        {
          linkId: "2",
          text: "General questions",
          type: "group",
          item: [
            {
              linkId: "2.1",
              text: "What is your gender?",
              type: "string",
            },
            {
              linkId: "2.2",
              text: "What is your date of birth?",
              type: "date",
            },
            {
              linkId: "2.3",
              text: "What is your country of birth?",
              type: "string",
            },
            {
              linkId: "2.4",
              text: "What is your marital status?",
              type: "string",
            },
          ],
        },
        {
          linkId: "3",
          text: "Intoxications",
          type: "group",
          item: [
            {
              linkId: "3.1",
              text: "Do you smoke?",
              type: "boolean",
            },
            {
              linkId: "3.2",
              text: "Do you drink alchohol?",
              type: "boolean",
            },
          ],
        },
      ],
    },
    search: {
      mode: "match",
    },
  },
  {
    fullUrl: `${process.env.NEXT_PUBLIC_FHIR_SERVER_BASE_URL}/Questionnaire/63500`,
    resource: {
      resourceType: "Questionnaire",
      id: "63500",
      meta: {
        versionId: "2",
        lastUpdated: "2019-11-14T16:01:24.974+00:00",
        source: "#bKEsLhuCMcDVU4Gf",
        profile: [
          "http://hl7.org/fhir/uv/sdc/StructureDefinition/sdc-questionnaire|2.7",
        ],
      },
      title: "Update form",
      status: "draft",
      item: [
        {
          linkId: "/43149-4",
          code: [
            {
              system: "http://loinc.org",
              code: "43149-4",
              display: "Heart rate device panel",
            },
          ],
          text: "Heart rate device panel",
          type: "group",
          required: false,
          item: [
            {
              linkId: "/43149-4/10249-1",
              code: [
                {
                  system: "http://loinc.org",
                  code: "10249-1",
                  display: "Hrt Rate Device Inventory #",
                },
              ],
              text: "Hrt Rate Device Inventory #",
              type: "string",
              required: false,
            },
            {
              linkId: "/43149-4/8887-2",
              code: [
                {
                  system: "http://loinc.org",
                  code: "8887-2",
                  display: "Hrt Rate Device Class",
                },
              ],
              text: "Hrt Rate Device Class",
              type: "string",
              required: false,
            },
            {
              linkId: "/43149-4/10250-9",
              code: [
                {
                  system: "http://loinc.org",
                  code: "10250-9",
                  display: "Model # Hrt Rate Device",
                },
              ],
              text: "Model # Hrt Rate Device",
              type: "string",
              required: false,
            },
            {
              linkId: "/43149-4/41919-2",
              code: [
                {
                  system: "http://loinc.org",
                  code: "41919-2",
                  display: "Hrt Rate Device Software vers",
                },
              ],
              text: "Hrt Rate Device Software vers",
              type: "string",
              required: false,
            },
            {
              extension: [
                {
                  url: "http://hl7.org/fhir/StructureDefinition/questionnaire-unit",
                  valueCoding: {
                    display: "{beats}/min",
                  },
                },
              ],
              linkId: "/43149-4/41920-0",
              code: [
                {
                  system: "http://loinc.org",
                  code: "41920-0",
                  display: "Heart rate 1h Mean",
                },
              ],
              text: "Heart rate 1h Mean",
              type: "decimal",
              required: false,
            },
            {
              extension: [
                {
                  url: "http://hl7.org/fhir/StructureDefinition/questionnaire-unit",
                  valueCoding: {
                    display: "{beats}/min",
                  },
                },
              ],
              linkId: "/43149-4/41921-8",
              code: [
                {
                  system: "http://loinc.org",
                  code: "41921-8",
                  display: "Heart rate 8h Mean",
                },
              ],
              text: "Heart rate 8h Mean",
              type: "decimal",
              required: false,
            },
            {
              extension: [
                {
                  url: "http://hl7.org/fhir/StructureDefinition/questionnaire-unit",
                  valueCoding: {
                    display: "{beats}/min",
                  },
                },
              ],
              linkId: "/43149-4/41922-6",
              code: [
                {
                  system: "http://loinc.org",
                  code: "41922-6",
                  display: "Heart rate 10h Mean",
                },
              ],
              text: "Heart rate 10h Mean",
              type: "decimal",
              required: false,
            },
            {
              extension: [
                {
                  url: "http://hl7.org/fhir/StructureDefinition/questionnaire-unit",
                  valueCoding: {
                    display: "{beats}/min",
                  },
                },
              ],
              linkId: "/43149-4/41923-4",
              code: [
                {
                  system: "http://loinc.org",
                  code: "41923-4",
                  display: "Heart rate 12h Mean",
                },
              ],
              text: "Heart rate 12h Mean",
              type: "decimal",
              required: false,
            },
            {
              extension: [
                {
                  url: "http://hl7.org/fhir/StructureDefinition/questionnaire-unit",
                  valueCoding: {
                    display: "{beats}/min",
                  },
                },
              ],
              linkId: "/43149-4/41924-2",
              code: [
                {
                  system: "http://loinc.org",
                  code: "41924-2",
                  display: "Heart rate 24h Mean",
                },
              ],
              text: "Heart rate 24h Mean",
              type: "decimal",
              required: false,
            },
          ],
        },
      ],
    },
    search: {
      mode: "match",
    },
  },
  {
    fullUrl: `${process.env.NEXT_PUBLIC_FHIR_SERVER_BASE_URL}/Questionnaire/66609`,
    resource: {
      resourceType: "Questionnaire",
      id: "66609",
      meta: {
        versionId: "1",
        lastUpdated: "2019-11-16T14:27:07.404+00:00",
        source: "#PaHDOMdEPSFxuiZx",
        profile: [
          "http://hl7.org/fhir/uv/sdc/StructureDefinition/sdc-questionnaire|3.5.0",
        ],
      },
      extension: [
        {
          url: "http://hl7.org/fhir/StructureDefinition/variable",
          valueExpression: {
            name: "weight",
            language: "text/fhirpath",
            expression:
              "%resource.item.where(linkId='/29463-7').answer.valueQuantity.value",
          },
        },
        {
          url: "http://hl7.org/fhir/StructureDefinition/variable",
          valueExpression: {
            name: "height",
            language: "text/fhirpath",
            expression:
              "%resource.item.where(linkId='/8302-2').answer.valueQuantity.value*0.0254",
          },
        },
      ],
      version: "2.56",
      name: "Weight & Height tracking panel",
      title: "Weight & Height tracking panel",
      status: "draft",
      subjectType: ["Patient", "Person"],
      date: "2018-09-12T22:03:40.000Z",
      code: [
        {
          system: "http://loinc.org",
          code: "55418-8",
          display: "Weight & Height tracking panel",
        },
      ],
      item: [
        {
          extension: [
            {
              url: "http://hl7.org/fhir/StructureDefinition/questionnaire-unit",
              valueCoding: {
                display: "kg",
              },
            },
            {
              url: "http://hl7.org/fhir/StructureDefinition/questionnaire-unit",
              valueCoding: {
                system: "http://unitsofmeasure.org",
                code: "kg",
              },
            },
          ],
          linkId: "/29463-7",
          code: [
            {
              system: "http://loinc.org",
              code: "29463-7",
              display: "Weight",
            },
          ],
          text: "Weight",
          type: "decimal",
          required: false,
        },
        {
          extension: [
            {
              url: "http://hl7.org/fhir/StructureDefinition/questionnaire-itemControl",
              valueCodeableConcept: {
                coding: [
                  {
                    system: "http://hl7.org/fhir/questionnaire-item-control",
                    code: "drop-down",
                    display: "Drop down",
                  },
                ],
                text: "Drop down",
              },
            },
            {
              url: "http://hl7.org/fhir/StructureDefinition/questionnaire-itemControl",
              valueCodeableConcept: {
                coding: [
                  {
                    system: "http://hl7.org/fhir/questionnaire-item-control",
                    code: "Combo-box",
                    display: "Combo-box",
                  },
                ],
                text: "Combo-box",
              },
            },
          ],
          linkId: "/8352-7",
          code: [
            {
              system: "http://loinc.org",
              code: "8352-7",
              display: "Clothing worn during measure",
            },
          ],
          text: "Clothing worn during measure",
          type: "choice",
          required: false,
          answerOption: [
            {
              valueCoding: {
                code: "LA11871-3",
                display: "Underwear or less",
              },
            },
            {
              valueCoding: {
                code: "LA11872-1",
                display: "Street clothes, no shoes",
              },
            },
            {
              valueCoding: {
                code: "LA11873-9",
                display: "Street clothes & shoes",
              },
            },
          ],
        },
        {
          extension: [
            {
              url: "http://hl7.org/fhir/StructureDefinition/questionnaire-unit",
              valueCoding: {
                display: "[in_i]",
              },
            },
            {
              url: "http://hl7.org/fhir/StructureDefinition/questionnaire-unit",
              valueCoding: {
                system: "http://unitsofmeasure.org",
                code: "[in_i]",
              },
            },
          ],
          linkId: "/8302-2",
          code: [
            {
              system: "http://loinc.org",
              code: "8302-2",
              display: "Body height",
            },
          ],
          text: "Body height",
          type: "decimal",
          required: false,
        },
        {
          extension: [
            {
              url: "http://hl7.org/fhir/StructureDefinition/questionnaire-unit",
              valueCoding: {
                display: "kg/m2",
              },
            },
            {
              url: "http://hl7.org/fhir/StructureDefinition/questionnaire-calculatedExpression",
              valueExpression: {
                language: "text/fhirpath",
                expression: "((%weight/%height/%height*10 +0.5) div 1)/10",
              },
            },
          ],
          linkId: "/39156-5",
          code: [
            {
              system: "http://loinc.org",
              code: "39156-5",
              display: "BMI",
            },
          ],
          text: "BMI",
          type: "decimal",
          required: false,
        },
        {
          extension: [
            {
              url: "http://hl7.org/fhir/StructureDefinition/questionnaire-itemControl",
              valueCodeableConcept: {
                coding: [
                  {
                    system: "http://hl7.org/fhir/questionnaire-item-control",
                    code: "drop-down",
                    display: "Drop down",
                  },
                ],
                text: "Drop down",
              },
            },
            {
              url: "http://hl7.org/fhir/StructureDefinition/questionnaire-itemControl",
              valueCodeableConcept: {
                coding: [
                  {
                    system: "http://hl7.org/fhir/questionnaire-item-control",
                    code: "Combo-box",
                    display: "Combo-box",
                  },
                ],
                text: "Combo-box",
              },
            },
          ],
          linkId: "/8361-8",
          code: [
            {
              system: "http://loinc.org",
              code: "8361-8",
              display: "Bdy position with respect to gravity",
            },
          ],
          text: "Bdy position with respect to gravity",
          type: "choice",
          required: false,
          answerOption: [
            {
              valueCoding: {
                code: "LA11868-9",
                display: "Sitting",
              },
            },
            {
              valueCoding: {
                code: "LA11869-7",
                display: "Lying",
              },
            },
            {
              valueCoding: {
                code: "LA11870-5",
                display: "Standing",
              },
            },
          ],
        },
      ],
    },
    search: {
      mode: "match",
    },
  },
  {
    fullUrl: `${process.env.NEXT_PUBLIC_FHIR_SERVER_BASE_URL}/Questionnaire/70494`,
    resource: {
      resourceType: "Questionnaire",
      id: "70494",
      meta: {
        versionId: "1",
        lastUpdated: "2019-11-19T10:23:14.006+00:00",
        source: "#D64aUTLt2ZkOWN6j",
      },
      title: "Obesity Questionnaire",
      status: "active",
      subjectType: ["Patient"],
      date: "2010",
      code: [
        {
          system: "https://details.loinc.org/LOINC/39156-5.html",
          code: "39156-5 ",
          display: "Body mass index",
        },
      ],
      item: [
        {
          linkId: "1",
          text: "DO YOU SEE YOURSELF AS AN OBESE PERSON?",
          type: "boolean",
        },
        {
          linkId: "2",
          text: "DO YOU BELIEVE YOUR EATING HABITS ARE THE CAUSE OF YOUR OBESITY CONDITION?",
          type: "boolean",
        },
      ],
    },
    search: {
      mode: "match",
    },
  },
  {
    fullUrl: `${process.env.NEXT_PUBLIC_FHIR_SERVER_BASE_URL}/Questionnaire/70495`,
    resource: {
      resourceType: "Questionnaire",
      id: "70495",
      meta: {
        versionId: "1",
        lastUpdated: "2019-11-19T10:23:14.526+00:00",
        source: "#jsgArYBk4MZ1ilad",
      },
      title: "Obesity Questionnaire",
      status: "active",
      subjectType: ["Patient"],
      date: "2010",
      code: [
        {
          system: "https://details.loinc.org/LOINC/39156-5.html",
          code: "39156-5 ",
          display: "Body mass index",
        },
      ],
      item: [
        {
          linkId: "1",
          text: "DO YOU SEE YOURSELF AS AN OBESE PERSON?",
          type: "group",
        },
        {
          linkId: "2",
          text: "DO YOU BELIEVE YOUR EATING HABITS ARE THE CAUSE OF YOUR OBESITY CONDITION?",
          type: "group",
        },
      ],
    },
    search: {
      mode: "match",
    },
  },
  {
    fullUrl: `${process.env.NEXT_PUBLIC_FHIR_SERVER_BASE_URL}/Questionnaire/70496`,
    resource: {
      resourceType: "Questionnaire",
      id: "70496",
      meta: {
        versionId: "1",
        lastUpdated: "2019-11-19T10:23:14.929+00:00",
        source: "#klmCKRxmZawjNmT1",
      },
      title: "Obesity Questionnaire",
      status: "active",
      subjectType: ["Patient"],
      date: "2010",
      code: [
        {
          system: "https://details.loinc.org/LOINC/39156-5.html",
          code: "39156-5 ",
          display: "Body mass index",
        },
      ],
      item: [
        {
          linkId: "1",
          text: "DO YOU SEE YOURSELF AS AN OBESE PERSON?",
          type: "display",
        },
        {
          linkId: "2",
          text: "DO YOU BELIEVE YOUR EATING HABITS ARE THE CAUSE OF YOUR OBESITY CONDITION?",
          type: "display",
        },
      ],
    },
    search: {
      mode: "match",
    },
  },
  {
    fullUrl: `${process.env.NEXT_PUBLIC_FHIR_SERVER_BASE_URL}/Questionnaire/70497`,
    resource: {
      resourceType: "Questionnaire",
      id: "70497",
      meta: {
        versionId: "1",
        lastUpdated: "2019-11-19T10:23:15.295+00:00",
        source: "#zD7qjpeT0JQpPga6",
      },
      title: "Obesity Questionnaire",
      status: "active",
      subjectType: ["Patient"],
      date: "2010",
      code: [
        {
          system: "https://details.loinc.org/LOINC/39156-5.html",
          code: "39156-5 ",
          display: "Body mass index",
        },
      ],
      item: [
        {
          linkId: "1",
          text: "DO YOU SEE YOURSELF AS AN OBESE PERSON?",
          type: "decimal",
        },
        {
          linkId: "2",
          text: "DO YOU BELIEVE YOUR EATING HABITS ARE THE CAUSE OF YOUR OBESITY CONDITION?",
          type: "decimal",
        },
      ],
    },
    search: {
      mode: "match",
    },
  },
];
